@import "tailwindcss";

.font-primary {
  font-family: "Roboto Slab", serif;
}
.font-secondary {
  font-family: "Instrument Sans", sans-serif;
}

body {
  overflow-y: scroll; /* Always show vertical scrollbar */
}

/* For Webkit browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background-color: gray !important;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}
